repos:
  - repo: local
    hooks:
      - id: generate-tests
        name: Generate Tests
        entry: python generate_tests.py
        language: system
        types: [python]
        pass_filenames: false
        files: ^src/

      - id: run-tests
        name: Run All Pytest Tests
        entry: python -m pytest
        language: system
        types: [python]
        pass_filenames: false